@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  height: 100%;
  width: 100%;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0, 300;
  }

  100% {
    stroke-dasharray: 300, 0;
  }
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 1s ease-in-out forwards;
}
.card {
  background: #fbceb1;

  position: relative;
}

.holder {
  position: absolute;
  display: grid;
  place-items: center;
  width: 4em;
  height: 4em;
  background: #fff;
}
.holder::before,
.holder::after {
  position: absolute;
  content: "";
  width: 1.25em;
  height: 1.25em;
  background: transparent;
}
.one {
  inset: calc(100% - 4em) 0 0 calc(100% - 4em);
  border-top-left-radius: 2.25em;
  transition: 1s ease 0.5s;
}
.one::before {
  inset: calc(100% - 1.25em) 0 0 -1.25em;
  border-bottom-right-radius: 1.25em;
  box-shadow: 0.3em 0.3em 0 0.3em #fff;
  transition: 1s ease;
}
.one::after {
  inset: -1.25em 0 0 2.75em;
  border-bottom-right-radius: 1.25em;
  box-shadow: 0.3em 0.3em 0 0.3em #fff;
  transition: 1s ease;
}

/* .card:hover .one {
  background: green;
}
.card:hover .one::before {
  box-shadow: 0.3em 0.3em 0 0.3em #ffb200;
}
.card:hover .one::after {
  box-shadow: 0.3em 0.3em 0 0.3em #ffb200;
} */
@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.animate-textRotation {
  animation: textRotation 8s linear infinite;
}
.swiper-button-prev,
.swiper-button-next {
  color: #000; /* Adjust color as needed */
  width: 30px;
  height: 30px;
}
/* Hide the spinner arrows in WebKit-based browsers (Chrome, Safari) */
.quantity > input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/* Remove padding from input for Firefox */
.quantity > input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-nav-btns button {
  outline: none;

  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centers the button vertically */

  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-btn {
  left: 10px; /* Position from the left */
}

.next-btn {
  right: 10px; /* Position from the right */
}

/* Base z-index levels for different components */
/* Example of stacking contexts */
.z-layer-1 {
  z-index: 2000; /* Custom layering if needed */
}

.z-layer-2 {
  z-index: 3000; /* Custom layering for specific needs */
}

.z-dropdown {
  z-index: 1000; /* Custom layering for specific needs */
}
