@tailwind base;
@tailwind components;
@tailwind utilities;



.slide {
  height: 100%;
  width: 100%;
}





















@keyframes draw {
  0% {
    stroke-dasharray: 0, 300;
  }

  100% {
    stroke-dasharray: 300, 0;
  }
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 1s ease-in-out forwards;
}