@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", system-ui;
}
.slide {
  height: 100%;
  width: 100%;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0, 300;
  }

  100% {
    stroke-dasharray: 300, 0;
  }
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 1s ease-in-out forwards;
}
.card {
  background: #fbceb1;

  position: relative;
}

.holder {
  position: absolute;
  display: grid;
  place-items: center;
  width: 4em;
  height: 4em;
  background: #fff;
}
.holder::before,
.holder::after {
  position: absolute;
  content: "";
  width: 1.25em;
  height: 1.25em;
  background: transparent;
}
.one {
  inset: calc(100% - 4em) 0 0 calc(100% - 4em);
  border-top-left-radius: 2.25em;
  transition: 1s ease 0.5s;
}
.one::before {
  inset: calc(100% - 1.25em) 0 0 -1.25em;
  border-bottom-right-radius: 1.25em;
  box-shadow: 0.3em 0.3em 0 0.3em #fff;
  transition: 1s ease;
}
.one::after {
  inset: -1.25em 0 0 2.75em;
  border-bottom-right-radius: 1.25em;
  box-shadow: 0.3em 0.3em 0 0.3em #fff;
  transition: 1s ease;
}

/* .card:hover .one {
  background: green;
}
.card:hover .one::before {
  box-shadow: 0.3em 0.3em 0 0.3em #ffb200;
}
.card:hover .one::after {
  box-shadow: 0.3em 0.3em 0 0.3em #ffb200;
} */
@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.animate-textRotation {
  animation: textRotation 8s linear infinite;
}
.swiper-button-prev,
.swiper-button-next {
  color: #000; /* Adjust color as needed */
  width: 30px;
  height: 30px;
}
/* Hide the spinner arrows in WebKit-based browsers (Chrome, Safari) */
.quantity > input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/* Remove padding from input for Firefox */
.quantity > input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Base z-index levels for different components */
/* Example of stacking contexts */
.z-layer-1 {
  z-index: 2000; /* Custom layering if needed */
}

.z-layer-2 {
  z-index: 3000; /* Custom layering for specific needs */
}

.z-dropdown {
  z-index: 1000; /* Custom layering for specific needs */
}
/* styles/animations.css */
@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-bounce-in {
  animation: bounceIn 0.6s ease-out;
}

.animate-bounce-out {
  animation: bounceOut 0.6s ease-in;
}

/* Add keyframes for the expand animation */
/* Add keyframes for the expand animation */
@keyframes expand {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Apply the animation to the expand class */
.group-hover\:animate-expand {
  animation: expand 2s ease-in-out;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #acacac;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
  }
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
